
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section styles {
    <style>
        .auth.theme-one .auto-form-wrapper .form-group .input-group .form-control {
            border-right: 1px solid #e5e5e5;
            border-radius: 6px;
        }
    </style>
}
@section Scripts {
    <script src="~/Scripts/jquery.form-validator.min.js"></script>

    <script type="text/javascript">
        $.validate({
            lang: 'en'
        });
    </script>
}
<div class="auto-form-wrapper">
    <form method="post">
        <div class="form-error">@ViewBag.message</div>
        <div class="form-group">
            <label class="label">New Password</label>
            <div class="input-group">
                <input type="password" class="form-control" name="Password" id="Password" placeholder="*********" data-validation="required">
            </div>
        </div>
        <div class="form-group">
            <label class="label">Confirm Password</label>
            <div class="input-group">
                <input type="password" class="form-control" name="CnfPassword" id="CnfPassword" placeholder="*********" data-validation="required">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary submit-btn btn-block">Submit</button>
        </div>
    </form>
</div>

