<form class="form-sample" id="OTHERITEMSForm" method="POST" enctype="multipart/form-data">
    <section id="OTHERITEMS" class="SurveySection">
        <h4>OTHER ITEMS</h4>
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Health Inspection is posted on the wall and is current: </label>
                <div class="col-sm-3" style="display:flex;">
                    <div class="form-radio" style="margin-top:auto;">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="OTHERHealth" id="OTHERHealthYes" value="Yes" data-validation-error-msg-container="#OTHERHealthError" data-validation-error-msg="Please select Health Inspection is posted on the wall and is current" data-validation="required"> Yes
                        </label>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-radio" style="margin-top:auto;">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="OTHERHealth" id="OTHERHealthNo" data-validation-error-msg-container="#OTHERHealthError" data-validation-error-msg="Please select Health Inspection is posted on the wall and is current" value="No"> No
                        </label>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-radio" style="margin-top:auto;">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="OTHERHealth" id="OTHERHealthNA" data-validation-error-msg-container="#OTHERHealthError" data-validation-error-msg="Please select Health Inspection is posted on the wall and is current" value="NA"> N/A
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">        <div class="col-md-12">
            <div class="row">
                    <input type="text" placeholder="Work Order Date/Comments" name="OTHERHealthWODC" id="OTHERHealthWODC" data-validation-error-msg-container="#OTHERHealthWODCError" data-validation-error-msg="Enter Work Order Date/Comments" class="form-control" />
                    <span id="OTHERHealthWODCError"></span>
            </div>
        </div>
</div>
                <div class="col-sm-5" id="OTHERHealthError"></div>
            </div>
        </div>
        <hr />


        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Fire inspection is posted on the wall and is current : </label>
                <div class="col-sm-3" style="display:flex;">
                    <div class="form-radio" style="margin-top:auto;">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="OTHERFire" id="OTHERFireYes" value="Yes" data-validation-error-msg-container="#OTHERFireError" data-validation-error-msg="Please select Fire inspection is posted on the wall and is current " data-validation="required"> Yes
                        </label>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-radio" style="margin-top:auto;">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="OTHERFire" id="OTHERFireNo" data-validation-error-msg-container="#OTHERFireError" data-validation-error-msg="Please select Fire inspection is posted on the wall and is current " value="No"> No
                        </label>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-radio" style="margin-top:auto;">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="OTHERFire" id="OTHERFireNA" data-validation-error-msg-container="#OTHERFireError" data-validation-error-msg="Please select Fire inspection is posted on the wall and is current " value="NA"> N/A
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">        <div class="col-md-12">
            <div class="row">
                    <input type="text" placeholder="Work Order Date/Comments" name="OTHERFireWODC" id="OTHERFireWODC" data-validation-error-msg-container="#OTHERFireWODCError" data-validation-error-msg="Enter Work Order Date/Comments" class="form-control" />
                    <span id="OTHERFireWODCError"></span>
            </div>
        </div></div>
                <div class="col-sm-5" id="OTHERFireError"></div>
            </div>
        </div>
<hr />





        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Building certificate of occupancy is posted on the wall and is current: </label>
                <div class="col-sm-3" style="display:flex;">
                    <div class="form-radio" style="margin-top:auto;">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="OTHERBuilding" id="OTHERBuildingYes" value="Yes" data-validation-error-msg-container="#OTHERBuildingError" data-validation-error-msg="Please select Building certificate of occupancy is posted on the wall and is current" data-validation="required"> Yes
                        </label>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-radio" style="margin-top:auto;">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="OTHERBuilding" id="OTHERBuildingNo" data-validation-error-msg-container="#OTHERBuildingError" data-validation-error-msg="Please select Building certificate of occupancy is posted on the wall and is current" value="No"> No
                        </label>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-radio" style="margin-top:auto;">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="OTHERBuilding" id="OTHERBuildingNA" data-validation-error-msg-container="#OTHERBuildingError" data-validation-error-msg="Please select Building certificate of occupancy is posted on the wall and is current" value="NA"> N/A
                        </label>
                    </div>
                </div>
                <div class="col-sm-3"><div class="col-md-12">
            <div class="row">
                    <input type="text" placeholder="Work Order Date/Comments" name="OTHERBuildingWODC" id="OTHERBuildingWODC" data-validation-error-msg-container="#OTHERBuildingWODCError" data-validation-error-msg="Enter Work Order Date/Comments" class="form-control" />
                    <span id="OTHERBuildingWODCError"></span>
            </div>
        </div></div>
                <div class="col-sm-5" id="OTHERBuildingError"></div>
            </div>
        </div>
        



        <div class="col-md-12">
            <button type="button" class="btn btn-success btn-fw previous" id="OTHERITEMSPrevious" onclick="goPreviousForm('ExteriorDeckPorchWODC', 'ExteriorDeckPorchWODCNext', 'ExteriorDeckPorchWODCPrevious');">Previous</button>
            <button type="submit" class="btn btn-success btn-fw" id="OTHERITEMSNext">Next</button>
        </div>
    </section>
</form>
