USE [master]
GO
/****** Object:  Database [chd]    Script Date: 12/27/2018 3:11:28 PM ******/
CREATE DATABASE [chd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\chd.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'chd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\chd_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chd]
GO
/****** Object:  User [chdUser]    Script Date: 12/27/2018 3:11:29 PM ******/
CREATE USER [chdUser] FOR LOGIN [chdUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BISE]    Script Date: 12/27/2018 3:11:29 PM ******/
CREATE USER [BISE] FOR LOGIN [BISE] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [chdUser]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [chdUser]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [chdUser]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [chdUser]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [chdUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [chdUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [chdUser]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [chdUser]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [chdUser]
GO
ALTER ROLE [db_owner] ADD MEMBER [BISE]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [BISE]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [BISE]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [BISE]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [BISE]
GO
ALTER ROLE [db_datareader] ADD MEMBER [BISE]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [BISE]
GO
/****** Object:  Table [dbo].[emergency_drill_clients]    Script Date: 12/27/2018 3:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emergency_drill_clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emergency_drill_log_id] [int] NOT NULL,
	[client_name] [varchar](50) NOT NULL,
	[evacuation_time] [varchar](50) NOT NULL,
	[prompt_level] [varchar](50) NOT NULL,
	[comments] [text] NOT NULL,
	[added_date] [datetime] NOT NULL,
	[updated_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emergency_drill_log]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emergency_drill_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[drill_date] [varchar](50) NULL,
	[time_started] [varchar](50) NULL,
	[time_completed] [varchar](50) NULL,
	[table_top_drill] [varchar](10) NULL,
	[person_conducted] [varchar](50) NULL,
	[type_of_drill] [varchar](50) NULL,
	[program_participants_involved] [varchar](50) NULL,
	[ec_evcuate] [varchar](50) NULL,
	[people_left] [varchar](50) NULL,
	[emergency_disaster] [varchar](50) NULL,
	[pp_enhance_safety] [varchar](50) NULL,
	[report_completed_name] [varchar](50) NULL,
	[completed_date] [varchar](50) NULL,
	[improvement_date] [varchar](50) NULL,
	[upload_survey] [varchar](100) NULL,
	[added_date] [datetime] NOT NULL,
	[updated_date] [timestamp] NOT NULL,
	[sc_accounted] [varchar](50) NULL,
	[unique_id] [varchar](50) NULL,
	[drill_status] [varchar](50) NULL,
	[report_for_quarter_ending] [varchar](50) NULL,
	[drill_shift] [varchar](50) NULL,
	[name_of_program] [varchar](500) NULL,
	[program_location] [varchar](500) NULL,
	[duration_of_drill] [varchar](50) NULL,
	[evacuation] [varchar](50) NULL,
	[user_id] [int] NULL,
	[site_address] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emergency_drill_participants]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emergency_drill_participants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emergency_drill_log_id] [int] NOT NULL,
	[participant_name] [varchar](50) NOT NULL,
	[participant_title] [varchar](50) NOT NULL,
	[added_date] [datetime] NOT NULL,
	[updated_date] [timestamp] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[location] [varchar](200) NOT NULL,
	[updated_date] [timestamp] NULL,
	[added_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG4NETLOG]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG4NETLOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[THREAD] [varchar](255) NOT NULL,
	[LEVEL] [varchar](50) NOT NULL,
	[LOGGER] [varchar](255) NOT NULL,
	[MESSAGE] [varchar](4000) NOT NULL,
	[EXCEPTION] [varchar](2000) NULL,
 CONSTRAINT [PK_LOG4NETLOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[office_survey]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[office_survey](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[form_data] [text] NOT NULL,
	[files] [varchar](500) NOT NULL,
	[updated_dated] [timestamp] NULL,
	[added_date] [datetime] NOT NULL,
	[unique_id] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[program_name]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[program_name](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[added_date] [datetime] NOT NULL,
	[updated_date] [timestamp] NOT NULL,
	[residential] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programe_details]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programe_details](
	[program_id] [varchar](100) NULL,
	[location_id] [varchar](200) NULL,
	[team_residence] [varchar](100) NULL,
	[licensing_body] [varchar](50) NULL,
	[drill_type] [varchar](150) NULL,
	[drill_date] [varchar](50) NULL,
	[drill_result] [varchar](50) NULL,
	[shift] [varchar](150) NULL,
	[ratio] [varchar](150) NULL,
	[comment] [text] NULL,
	[drill_record_number] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programs]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programs](
	[id] [float] NULL,
	[division] [nvarchar](255) NULL,
	[program_name] [nvarchar](255) NULL,
	[team_residence_location] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[licensing_body_funding ] [nvarchar](255) NULL,
	[carf] [nvarchar](255) NULL,
	[residential_program] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resdential_drill_clients]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resdential_drill_clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[residential_drill_id] [int] NOT NULL,
	[client_name] [varchar](50) NOT NULL,
	[present_for_drill] [varchar](50) NULL,
	[time_to_exit] [varchar](50) NOT NULL,
	[client_classification] [varchar](50) NOT NULL,
	[prompt_level] [varchar](50) NOT NULL,
	[updated_date] [timestamp] NULL,
	[added_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resdential_drill_log]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resdential_drill_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[unique_id] [varchar](50) NULL,
	[type_of_drill] [varchar](50) NOT NULL,
	[evacuation] [varchar](50) NOT NULL,
	[name_of_program] [varchar](50) NOT NULL,
	[date_time_of_drill] [varchar](50) NOT NULL,
	[staff_ratio] [varchar](50) NULL,
	[duration_of_drill] [varchar](50) NULL,
	[drill_scenario] [text] NULL,
	[building_exit] [text] NULL,
	[egress_was_blocked] [text] NULL,
	[secondary_location] [text] NULL,
	[staff_signature] [varchar](50) NULL,
	[staff_signature_date] [varchar](50) NULL,
	[supervisor_signature] [varchar](50) NULL,
	[supervisor_signature_date] [varchar](50) NULL,
	[updated_date] [timestamp] NULL,
	[added_date] [datetime] NOT NULL,
	[drill_was_during] [varchar](50) NULL,
	[name_of_staff] [varchar](50) NULL,
	[upload_survey] [varchar](100) NULL,
	[program_address] [varchar](500) NULL,
	[program_location] [varchar](500) NULL,
	[drill_status] [varchar](50) NULL,
	[report_for_quarter_ending] [varchar](50) NULL,
	[drill_shift] [varchar](50) NULL,
	[user_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reset_password]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reset_password](
	[email] [varchar](50) NULL,
	[verification_code] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[residency_survey]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[residency_survey](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[form_data] [text] NOT NULL,
	[files] [varchar](500) NOT NULL,
	[updated_dated] [timestamp] NULL,
	[added_date] [datetime] NOT NULL,
	[unique_id] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[survey]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[survey](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[drill_type] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_rights]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_rights](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[added_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/27/2018 3:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NULL,
	[password] [varchar](100) NULL,
	[added_date] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[emergency_drill_log] ON 

SET IDENTITY_INSERT [dbo].[emergency_drill_log] OFF
SET IDENTITY_INSERT [dbo].[emergency_drill_participants] ON 

INSERT [dbo].[emergency_drill_participants] ([id], [emergency_drill_log_id], [participant_name], [participant_title], [added_date]) VALUES (1, 1, N'Janardan', N'Supervisor', CAST(N'2018-12-21T23:11:50.580' AS DateTime))
INSERT [dbo].[emergency_drill_participants] ([id], [emergency_drill_log_id], [participant_name], [participant_title], [added_date]) VALUES (2, 2, N'Janardan', N'Supervisor', CAST(N'2018-12-21T23:16:38.657' AS DateTime))
INSERT [dbo].[emergency_drill_participants] ([id], [emergency_drill_log_id], [participant_name], [participant_title], [added_date]) VALUES (3, 3, N'Janardan', N'Supervisor', CAST(N'2018-12-21T23:17:29.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[emergency_drill_participants] OFF
SET IDENTITY_INSERT [dbo].[location] ON 

INSERT [dbo].[location] ([id], [location], [added_date]) VALUES (4, N'1025 Pleasant Street Palmer, MA 01069', CAST(N'2018-11-08T16:16:50.607' AS DateTime))
INSERT [dbo].[location] ([id], [location], [added_date]) VALUES (5, N'1566 Allen Street, Springfield, MA 01118', CAST(N'2018-11-08T16:16:50.610' AS DateTime))
INSERT [dbo].[location] ([id], [location], [added_date]) VALUES (6, N'280 Tinkham Road, Springfield, MA 01129', CAST(N'2018-11-08T16:16:50.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[location] OFF
SET IDENTITY_INSERT [dbo].[LOG4NETLOG] ON 

INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (1, CAST(N'2018-12-11T11:43:20.470' AS DateTime), N'CHD App', N'INFO', N'APP', N'error uploading file ', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (2, CAST(N'2018-12-11T12:52:51.460' AS DateTime), N'CHD App', N'INFO', N'APP', N'error uploading file ', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (3, CAST(N'2018-12-11T12:52:51.760' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.FormatException: String was not recognized as a valid TimeSpan.
   at System.Globalization.TimeSpanParse.TimeSpanResult.SetFailure(ParseFailureKind failure, String failureMessageID, Object failureMessageFormatArgument, String failureArgumentName)
   at System.Globalization.TimeSpanParse.ProcessTerminalState(TimeSpanRawInfo& raw, TimeSpanStandardStyles style, TimeSpanResult& result)
   at System.Globalization.TimeSpanParse.TryParseTimeSpan(String input, TimeSpanStandardStyles style, IFormatProvider formatProvider, TimeSpanResult& result)
   at System.Globalization.TimeSpanParse.Parse(String input, IFormatProvider formatProvider)
   at System.TimeSpan.Parse(String s)
   at commonLogic.GetDrillStatus(String reportForQuanterEnding, String DateTimeofDrill, String TypeOfDrill, String Durationofdrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 77', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (4, CAST(N'2018-12-11T12:55:34.133' AS DateTime), N'CHD App', N'INFO', N'APP', N'error uploading file ', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (5, CAST(N'2018-12-11T12:55:34.350' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.ArgumentNullException: String reference not set to an instance of a String.
Parameter name: input
   at System.Globalization.TimeSpanParse.TimeSpanResult.SetFailure(ParseFailureKind failure, String failureMessageID, Object failureMessageFormatArgument, String failureArgumentName)
   at System.Globalization.TimeSpanParse.TryParseTimeSpan(String input, TimeSpanStandardStyles style, IFormatProvider formatProvider, TimeSpanResult& result)
   at System.Globalization.TimeSpanParse.Parse(String input, IFormatProvider formatProvider)
   at System.TimeSpan.Parse(String s)
   at commonLogic.GetDrillStatus(String reportForQuanterEnding, String DateTimeofDrill, String TypeOfDrill, String Durationofdrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 77', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (1002, CAST(N'2018-12-18T14:45:19.690' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.FormatException: String was not recognized as a valid DateTime.
   at System.DateTimeParse.ParseExact(String s, String format, DateTimeFormatInfo dtfi, DateTimeStyles style)
   at System.DateTime.ParseExact(String s, String format, IFormatProvider provider)
   at commonLogic.GetDrillShift(String DateTimeofDrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 43', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (1003, CAST(N'2018-12-18T14:54:30.757' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.FormatException: String was not recognized as a valid DateTime.
   at System.DateTimeParse.ParseExact(String s, String format, DateTimeFormatInfo dtfi, DateTimeStyles style)
   at System.DateTime.ParseExact(String s, String format, IFormatProvider provider)
   at commonLogic.GetDrillShift(String DateTimeofDrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 43', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (1004, CAST(N'2018-12-18T14:55:44.443' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.ArgumentNullException: String reference not set to an instance of a String.
Parameter name: input
   at System.Globalization.TimeSpanParse.TimeSpanResult.SetFailure(ParseFailureKind failure, String failureMessageID, Object failureMessageFormatArgument, String failureArgumentName)
   at System.Globalization.TimeSpanParse.TryParseTimeSpan(String input, TimeSpanStandardStyles style, IFormatProvider formatProvider, TimeSpanResult& result)
   at System.Globalization.TimeSpanParse.Parse(String input, IFormatProvider formatProvider)
   at System.TimeSpan.Parse(String s)
   at commonLogic.GetDrillStatus(String reportForQuanterEnding, String DateTimeofDrill, String TypeOfDrill, String Durationofdrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 77', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (1005, CAST(N'2018-12-18T14:59:44.113' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.ArgumentNullException: String reference not set to an instance of a String.
Parameter name: input
   at System.Globalization.TimeSpanParse.TimeSpanResult.SetFailure(ParseFailureKind failure, String failureMessageID, Object failureMessageFormatArgument, String failureArgumentName)
   at System.Globalization.TimeSpanParse.TryParseTimeSpan(String input, TimeSpanStandardStyles style, IFormatProvider formatProvider, TimeSpanResult& result)
   at System.Globalization.TimeSpanParse.Parse(String input, IFormatProvider formatProvider)
   at System.TimeSpan.Parse(String s)
   at commonLogic.GetDrillStatus(String reportForQuanterEnding, String DateTimeofDrill, String TypeOfDrill, String Durationofdrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 77', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (1006, CAST(N'2018-12-19T08:43:27.397' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.FormatException: String was not recognized as a valid DateTime.
   at System.DateTimeParse.ParseExact(String s, String format, DateTimeFormatInfo dtfi, DateTimeStyles style)
   at System.DateTime.ParseExact(String s, String format, IFormatProvider provider)
   at commonLogic.GetDrillShift(String DateTimeofDrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 43', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (1007, CAST(N'2018-12-19T08:45:02.997' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.FormatException: String was not recognized as a valid DateTime.
   at System.DateTimeParse.ParseExact(String s, String format, DateTimeFormatInfo dtfi, DateTimeStyles style)
   at System.DateTime.ParseExact(String s, String format, IFormatProvider provider)
   at commonLogic.GetDrillShift(String DateTimeofDrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 43', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (1008, CAST(N'2018-12-19T08:50:00.733' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.FormatException: String was not recognized as a valid DateTime.
   at System.DateTimeParse.ParseExact(String s, String format, DateTimeFormatInfo dtfi, DateTimeStyles style)
   at System.DateTime.ParseExact(String s, String format, IFormatProvider provider)
   at commonLogic.GetDrillShift(String DateTimeofDrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 43', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (1009, CAST(N'2018-12-21T23:11:50.467' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.FormatException: String was not recognized as a valid TimeSpan.
   at System.Globalization.TimeSpanParse.TimeSpanResult.SetFailure(ParseFailureKind failure, String failureMessageID, Object failureMessageFormatArgument, String failureArgumentName)
   at System.Globalization.TimeSpanParse.ProcessTerminalState(TimeSpanRawInfo& raw, TimeSpanStandardStyles style, TimeSpanResult& result)
   at System.Globalization.TimeSpanParse.TryParseTimeSpan(String input, TimeSpanStandardStyles style, IFormatProvider formatProvider, TimeSpanResult& result)
   at System.Globalization.TimeSpanParse.Parse(String input, IFormatProvider formatProvider)
   at System.TimeSpan.Parse(String s)
   at commonLogic.GetDrillStatus(String reportForQuanterEnding, String DateTimeofDrill, String TypeOfDrill, String Durationofdrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 80', N'-')
INSERT [dbo].[LOG4NETLOG] ([ID], [DATE], [THREAD], [LEVEL], [LOGGER], [MESSAGE], [EXCEPTION]) VALUES (1010, CAST(N'2018-12-21T23:50:48.783' AS DateTime), N'CHD App', N'INFO', N'APP', N'error getting status resdential_drill_log System.FormatException: String was not recognized as a valid TimeSpan.
   at System.Globalization.TimeSpanParse.TimeSpanResult.SetFailure(ParseFailureKind failure, String failureMessageID, Object failureMessageFormatArgument, String failureArgumentName)
   at System.Globalization.TimeSpanParse.TryParseTimeSpan(String input, TimeSpanStandardStyles style, IFormatProvider formatProvider, TimeSpanResult& result)
   at System.Globalization.TimeSpanParse.Parse(String input, IFormatProvider formatProvider)
   at System.TimeSpan.Parse(String s)
   at commonLogic.GetDrillStatus(String reportForQuanterEnding, String DateTimeofDrill, String TypeOfDrill, String Durationofdrill) in E:\Suresh\Projects\CHD\project\CHD\App_Data\commonLogic.cs:line 89', N'-')
SET IDENTITY_INSERT [dbo].[LOG4NETLOG] OFF
SET IDENTITY_INSERT [dbo].[office_survey] ON 

SET IDENTITY_INSERT [dbo].[office_survey] OFF
SET IDENTITY_INSERT [dbo].[program_name] ON 

INSERT [dbo].[program_name] ([id], [name], [added_date], [residential]) VALUES (1, N'Juvenile Justice', CAST(N'2018-11-14T13:55:41.400' AS DateTime), N'Y')
INSERT [dbo].[program_name] ([id], [name], [added_date], [residential]) VALUES (2, N'Big Brothers Big Sisters', CAST(N'2018-11-14T13:55:41.403' AS DateTime), N'N')
INSERT [dbo].[program_name] ([id], [name], [added_date], [residential]) VALUES (3, N'Caring Together / STARR', CAST(N'2018-11-14T13:55:41.403' AS DateTime), N'N')
SET IDENTITY_INSERT [dbo].[program_name] OFF
INSERT [dbo].[programs] ([id], [division], [program_name], [team_residence_location], [address], [licensing_body_funding ], [carf], [residential_program], [F9], [F10]) VALUES (1, N'Children and Families', N'Juvenile Justice', N'Adolescent Re-Entry Services', N'140 High Street, Springfield, MA 01118', N'DYS', N'y', N'Y', NULL, NULL)
INSERT [dbo].[programs] ([id], [division], [program_name], [team_residence_location], [address], [licensing_body_funding ], [carf], [residential_program], [F9], [F10]) VALUES (2, N'Children and Families', N'Juvenile Justice', N'Adolescent Re-Entry Services', N'314 High Street, Holyoke, MA 01040', N'DYS', N'y', N'Y', NULL, NULL)
INSERT [dbo].[programs] ([id], [division], [program_name], [team_residence_location], [address], [licensing_body_funding ], [carf], [residential_program], [F9], [F10]) VALUES (3, N'Children and Families', N'Juvenile Justice', N'Community Adolescent Treatment Program', N'797 Worthington Street, Springfield, MA 01105', N'DYS', N'y', N'Y', NULL, NULL)
INSERT [dbo].[programs] ([id], [division], [program_name], [team_residence_location], [address], [licensing_body_funding ], [carf], [residential_program], [F9], [F10]) VALUES (29, N'DD and  Elder Services', N'Meadows Homes', N'Cady ', N'20 Cady Street, 1st Floor
Ludlow, MA 01056', N'DDS', N'Y', N'Y', NULL, NULL)
GO
INSERT [dbo].[programs] ([id], [division], [program_name], [team_residence_location], [address], [licensing_body_funding ], [carf], [residential_program], [F9], [F10]) VALUES (29, N'DD and  Elder Services', N'Meadows Homes', N'Cady ', N'20 Cady Street, 1st Floor
Ludlow, MA 01056', N'DDS', N'Y', N'Y', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[resdential_drill_log] ON 

SET IDENTITY_INSERT [dbo].[resdential_drill_log] OFF
INSERT [dbo].[reset_password] ([email], [verification_code]) VALUES (N'suresh.kamrushi@gmail.com', N'8PluuhZVXYRZTMKhQAm0jnqDAil1I29eYHIaNnhk6hDLoQMlA')
SET IDENTITY_INSERT [dbo].[residency_survey] ON 

SET IDENTITY_INSERT [dbo].[residency_survey] OFF
SET IDENTITY_INSERT [dbo].[user_rights] ON 

INSERT [dbo].[user_rights] ([id], [type], [added_date]) VALUES (1, N'admin', CAST(N'2018-12-10T13:41:24.730' AS DateTime))
INSERT [dbo].[user_rights] ([id], [type], [added_date]) VALUES (2, N'user', CAST(N'2018-12-10T13:41:29.250' AS DateTime))
INSERT [dbo].[user_rights] ([id], [type], [added_date]) VALUES (3, N'Residendtial Drill', CAST(N'2018-12-10T13:49:48.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[user_rights] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [first_name], [last_name], [password], [added_date]) VALUES (1, N'suresh.kamrushi@gmail.com', N'Suresh', N'Kamrushi', N'Y?G?*???Y??t?????Y?????s???', CAST(N'2018-10-14T10:25:17.730' AS DateTime))
INSERT [dbo].[users] ([id], [email], [first_name], [last_name], [password], [added_date]) VALUES (2, N'mcove@chd.org', N'Michelle', N'Cove', N'Y?G?*???Y??t?????Y?????s???', CAST(N'2018-10-29T14:41:59.880' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
USE [master]
GO
